@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@font-face {
  font-family: "CyforDemoRegular";
  src: url("/assets/fonts/CyforDemoRegular-2vz13.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body.bg-dark {
  background-color: #000 !important;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "CyforDemoRegular" !important;
  cursor: none !important;
  font-size: 30px;
}

#matrix-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.grille {
  display: grid;
  width: 80%;
  height: 90%;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.crypto {
  grid-column: 1;
  grid-row: 1 / 3;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #00000025;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  font-family: CyforDemoRegular;
  font-size: 20px;
}

.crypto .transactions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cat {
  grid-column: 1;
  grid-row: 3;
  border: 2px solid rgb(255, 255, 255);
  background-color: #ff000025;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
  grid-column: 2;
  grid-row: 1;
  border: 1px solid rgb(255, 0, 0);
  background-color: #00000044;
}

.graph {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: #ff000025;
}

#canvasgraph {
  display: block;
}

.data {
  border: 1px solid red;
  grid-column: 2;
  grid-row: 3;
  border: 1px solid red;
  background-color: #ff000025;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: red;
  transition: width 0.2s linear;
}

.percent {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: red;
}

.music {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 30px;
  border: 1px solid red;
  background-color: #ff000025;
}

.music button {
  background: black;
  color: red;
  border: 2px solid red;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.music button:hover {
  background: red;
  color: black;
  transform: scale(1.08);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.541);
}

.map {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  background-color: #ff000025;
}

#carte {
  width: 100%;
  height: 100%;
}

.visualizer {
  grid-column: 3;
  grid-row: 3;
}

.zdog-canvas {
  height: 100%;
  width: 100%;
}

#links {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

#cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10000%;
  pointer-events: none;
  transition: 0.02s ease-out;
  animation: pulse 1s infinite ease-in-out;
  z-index: 999999;
}

.crypto *,
.data *,
.balance *,
.cat *,
.graph *,
.music *,
.map *,
.visualizer * {
  font-family: "CyforDemoRegular" !important;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
