@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.grille {
  display: grid;
  width: 80vw;
  height: 70vh;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.crypto {
  grid-column: 1;
  grid-row: 1 / 3;
  border: 1px solid red;
  border-radius: 3%;
}

.stocks {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid red;
  border-radius: 3%;
}

.balance {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid red;
  border-radius: 3%;
}

.graph {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #11111180;
}

#canvasgraph {
  display: block;
}

.data {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid red;
  border-radius: 3%;
}

.music {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 30px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #11111180;
}

.music button {
  background: black;
  color: red; 
  border: 2px solid red;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.music button:hover {
  background: red;
  color: black;
  transform: scale(1.08);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.541);
}

.map {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid red;
  border-radius: 3%;
  height: 100%;
  width: 100%;
  background-color: #11111180;

}

#carte {
  width: 100%;
  height: 100%;
}


.visualizer {
  grid-column: 3;
  grid-row: 3;
  border: 1px solid red;
  border-radius: 3%;
  background-color: #11111180;
}

.zdog-canvas {
  border: 1px dotted gray;
  height: 100%;
  width: 100%;
}