@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.grille {
  display: grid;
  width: 80vw;
  height: 70vh;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.crypto {
  grid-column: 1;
  grid-row: 1 / 3;
  border: 1px solid red;
  border-radius: 3%;
}

.stocks {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid red;
  border-radius: 3%;
}

.balance {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid red;
  border-radius: 3%;
}

.graph {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid red;
  border-radius: 3%;
}

.data {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid red;
  border-radius: 3%;
}

.fps {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid red;
  border-radius: 3%;
}

.music {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid red;
  border-radius: 3%;
}

.visualizer {
  grid-column: 3;
  grid-row: 3;
  border: 1px solid red;
  border-radius: 3%;
}
