@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body.bg-dark {
  background-color: #000 !important;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#matrix-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.grille {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.crypto {
  grid-column: 1;
  grid-row: 1 / 3;
  border: 1px solid red;
  background-color: #ff000025;
}

.stocks {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid red;
  background-color: #ff000025;
}

.balance {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid red;
  background-color: #ff000025;
}

.graph {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: #ff000025;
}

#canvasgraph {
  display: block;
}

.data {
  border: 1px solid red;
  grid-column: 2;
  grid-row: 3;
  border: 1px solid red;
  background-color: #ff000025;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: red;
  transition: width 0.2s linear;
}

.percent {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: red;
}

.music {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 30px;
  border: 1px solid red;
  background-color: #ff000025;
}

.music button {
  background: black;
  color: red;
  border: 2px solid red;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.music button:hover {
  background: red;
  color: black;
  transform: scale(1.08);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.541);
}

.map {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  background-color: #ff000025;
}

#carte {
  width: 100%;
  height: 100%;
}

.visualizer {
  grid-column: 3;
  grid-row: 3;
  border: 1px solid red;
  background-color: #11111180;
}

.zdog-canvas {
  border: 1px dotted gray;
  height: 100%;
  width: 100%;
  background-color: #ff000025;
}
